h1 {
  padding-top: 10px;
}

img {
  height: 90px;
}

.sfondotondo {
  margin: auto;
  width: 100px;
  background-color: blue;
  border-radius: 100%;
}

.nested{
  height: 96px;
  background-color: red;
}
.nest{
  padding: 1px;
}
